<section data-ng-controller="PhoneBuzzController">
	<h3 class="col-md-10 text-center">Home of Lend Up Challenge</h3>
	<div class="col-xs-8 col-md-offset-2 col-md-6">
		<form data-ng-submit="storeCredentials()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="from">Calling From Number</label>
					<input type="text" id="from" name="from" class="form-control" data-ng-model="caller.from" placeholder="Phone Number">
				</div>
				<div class="form-group">
					<label for="AccountSID">AccountSID</label>
					<input type="text" id="AccountSID" name="AccountSID" class="form-control" data-ng-model="caller.accountSID" placeholder="AccountSID">
				</div>
				<div class="form-group">
					<label for="AuthToken">AuthToken</label>
					<input type="text" id="AuthToken" name="AuthToken" class="form-control" data-ng-model="caller.authToken" placeholder="AuthToken">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Submit</button>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				<h3 class="col-md-10 text-center">{{homePageMessage}}</h3>
			</fieldset>
		</form>
	</div>
</section>
