<section class="row" data-ng-controller="PhoneBuzzController" data-ng-init="init()">
	<h3 class="col-md-10 text-center">Dial a number with PhoneBuzz: now with delay!</h3>
	<div class="col-xs-8 col-md-offset-2 col-md-6">
		<form data-ng-submit="call(false)" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="to">Phone Number To Call</label>
					<input type="text" id="to" name="to" class="form-control" data-ng-model="credentials.to" placeholder="Phone Number">
				</div>
				<div class="form-group">
					<label for="Delay">Delay</label>
					<input type="text" id="sec" name="sec" class="form-control" data-ng-model="credentials.sec" placeholder="Seconds">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Call</button>
				</div>

				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
	<h3 class="col-md-10 text-center">{{submitMessage}}</h3>
</section>